body{
    width: 100vw;
    height: 100vh;
    font-family: 'Century Gothic';
    /* font-size: 1.35em; */

}

.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    max-width: 100%;
}

.login{
    background-color: #f2f2f2;
    border-radius: .60em;
    padding: 1em;
}



hr{
    /* border: 2px solid #085454; */
    height: 10px;
    background-color: #085454;
}

.data{
    display: flex;
    justify-content: space-between;
}

.clave{
    background-color: #085454;
    padding: .5em;
    margin: .5em;
    color: white;
    /* text-align: center; */
    border-radius: .60em;
}

.input{
    border-radius: .60em;
    margin: .5em;
    padding: .5em;
}

.container-btn{
    display: flex;
    justify-content: center;
}

.btn{
    background-color: #D6A803;
    color: black;
    font-weight: bolder;
}

.go{
    margin: .5em;
}

/* Login2 */
.login-signup{
 background-color: white;
}

.field-container{
    display: grid;
}

.signup{
    background-color: #FFFFFF;
    color: #085454;
    border-radius: .60em;
}

.data-container{
    background-color: #085454;
    border-radius: .60em;
    padding: 1em;
}

.container-pol{
    display: flex;
    color: white;
    font-size: small;
    text-align: center;
    margin: 1em;
}

.container-pol input{
    margin-top: revert;
}