body{
    position: relative;
    overflow-x: hidden;
}
.navbar{
    height: 10vh;
    background-color: rgba(0, 0, 0, 0);
    z-index: 10;
}
.nav-item{
    background-color: #055353;
    border-radius: 1.5em;
    display: flex;
}
.nav-link {
    font-size: larger;
}

.navbar-brand{
    margin-left: 3rem;
}

.navbar-brand img{
    width: 400px;
}

.evaluar{
    width: 24px;
}

.login{
    width: 24px;
}

.image-container-hero{
    width: 100vw;
    height: 100vh;
    background-image: url('../public/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}


.inf{
    width: 50vw;
    height: 10vh;
    color: white;
    padding: 8px;
    background-color: #085454;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 45em;
}

.video-container{
    width: 780px;
    height: 480px;
    position: absolute;
    z-index: 2;
    right: calc(50vw - 720px - 5vw);
    top: calc(45em - 480px + 10vh);
}


/* contact */
.contact{
    height: 100vh;
    position: absolute;
}

.contact h2{
    display: flex;
    justify-content: center;
}

.contact h3{
    align-self: center;
    padding-left: .5em;
}

.contact a{
    text-decoration: none;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;

}

/* App */

.text-size{
    font-size: larger;
}

.title-test{
    margin-top: 3em;
    margin-bottom: 5em;
}

.title-admin{
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;

}

.title-admin h2{
    align-self: center;
}

.title-admin img{
    width: 64px;
    height: 64px;
}

.title-eva{
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.title-eva h2{
    align-self: center;
}

.app-paragraph{
    display: flex;
}

.app-paragraph{
    
    align-items: center;
}

.app-paragraph p {
    font-size: 25px;
}

.approved{
    margin: 1em;
}

.test ul {
    padding-left: 15em;
}

.test p{
    font-size: 30px;
}

.test-bottom{
    margin-top: 10em;
}

/* servicios */
.header{
    margin-top: 3em;
    margin-bottom: 2em;

}

.header h2{
    margin-left: 10px;
}

.example{
    display: flex;
    justify-content: flex-end;
}

.download{
    display: flex;
    margin: auto;
}

.whatsapp{
    display: flex;
    margin: auto;
}

.price{
    display: flex;
}

.price110{
    width: 100px;
    /* height: 100px; */
    background-image: url('../public/price.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    margin: 5px;
}

/* Responsive */
@media only screen 
and (min-width: 300px)
and (max-width: 430px){
    .navbar{
        z-index: 10;
    }

    .navbar-brand img{
        width: 200px;
        margin-left: 0 !important;
    }

    .navbar-brand{
        margin-left: 0;
    }
    
    .nav-link {
        font-size: larger;
    }
    .video-container{
        /* display: none; */
        width: 320px;
        height: 180px;
        left: calc(50vw - 160px);
        right: 0;
        top: 10em;
    }

    .inf{
        width: 100vw;
        height: 10vh;
        color: white;
        padding: 8px;
        background-color: #085454;
        position: absolute;
        z-index: 3;
        left: 0;
        top: 100vh;
    }

    .inf h2{
        font-size: 14px;
    }

    .contact{
        font-size: smaller;
    }

    /* Escalas */
    .text-size{
        font-size: smaller;
    }

    .example img{
        width: 24px;
    }

    .image-table img{
        width: 50px;
    }

    .escalas-title{
        font-size: 12px;
    }

    /* Features */
    .title-admin img{
        width: 24px;
        height: 24px;
    }

    .title-admin h2{
        font-size: smaller;
    }

    .title-eva h2{
        font-size: smaller;
    }

    .title-eva img{
        width: 24px;
        height: 24px;
    }

    .test{
        font-size: smaller;
    }

    .app-paragraph p{
        font-size: smaller;
    }

    .test p{
        font-size: smaller;
    }

    .test ul{
        padding-left: 1em;
    }

    .title-test{
        margin-bottom: 0;
    }

    .test-bottom{
        margin-top: 0;
    }


}

@media only screen 
and (min-width: 700px)
and (max-width: 768px){
    /* Navbar */
    
    .navbar-brand img{
        width: 200px;
        margin-left: 0 !important;
    }

    .video-container{
        /* display: none; */
        width: 640px;
        height: 360px;
        left: 0;
        top: 5em;
        margin-left: 64px;
    }

    /* Index */

    .inf{
        width: 100vw;
        height: 10vh;
        color: white;
        padding: 8px;
        background-color: #085454;
        position: absolute;
        z-index: 3;
        left: 0;
        top: 100vh;
    }

    .inf h2{
        font-size: 20px;
    }

    /* Features */
    .title-admin img{
        width: 44px;
        height: 44px;
    }

    .title-eva img{
        width: 44px;
        /* height: 44px; */
    }

    .title-admin h2{
        font-size: medium;
    }

    .title-eva h2{
        font-size: medium;
    }

    .test{
        font-size: small;
    }

    .test p{
        font-size: small;
    }

    .test ul{
        padding-left: 7.5em;
    }

    .app-paragraph p{
        font-size: small;
    }

    .title-test{
        margin-bottom: 0;
    }

    .test-bottom{
        margin-top: 0;
    }

    /* Escalas */
    .text-size{
        font-size: medium;
    }

    .example img{
        width: 24px;
    }

    .image-table img{
        width: 200px;
    }

    .escalas-title{
        font-size: 12px;
    }


}

@media only screen 
and (min-width: 1000px) 
and (max-width: 1024px){
    .navbar-brand img{
        width: 200px;
        margin-left: 0 !important;
    }



    .video-container{
        width: 426px;
        height: 240px;
        right: 0;
        top: 14em;
    }

    .inf{
        
        left: 0;
        top: 25em;
    }

    .inf h2{
        font-size: medium;
    }


}

@media screen and (min-width: 1026px) and (max-width: 1450px){
    
    .navbar-brand img{
        width: 200px;
        margin-left: 0 !important;
    }

    .nav-link {
        font-size: medium;
    }

    .video-container{
        /* display: none; */
        width: 640px;
        height: 360px;
        right: 0;
        top: 22vh;
        /* top: 60px; */
    }

    .inf{
        width: 50vw;
        height: 10vh;
        color: white;
        padding: 8px;
        background-color: #085454;
        position: absolute;
        z-index: 3;
        left: 0;
        top: 90vh;
    }

    .inf h2{
        font-size: large;
    }
}
